# String Basics

In [1]:
"Hello"

'Hello'

In [2]:
'world'

'world'

In [4]:
"This is a string"

'This is a string'

In [6]:
'I'm going on a run'

# single quote is confusing here

SyntaxError: invalid syntax (<ipython-input-6-6350b29bcfda>, line 1)

In [8]:
"I'm going on a run"

# This works

"I'm going on a run"

In [9]:
print("hello")

hello

In [10]:
print('Hello world one')
print('Helow world \n two \t three \s four')

Hello world one
Helow world
 two 	 three \s four

In [11]:
len('Hello')

5

In [12]:
mystring = 'Hello world'

In [13]:
print (mystring)

Hello world

In [14]:
mystring[3]

'l'

In [15]:
mystring[-2]

'l'

In [16]:
mystring[4]

'o'

In [17]:
mystring[-5]

'w'

In [18]:
mystr = 'snow tubing'

In [19]:
mystr

'snow tubing'

In [20]:
mystr[1:2]

'n'

In [21]:
mystr[2:8]

'ow tub'

In [22]:
mystr[2:8:3]

'ot'

In [23]:
x = 'Hello World'

In [24]:
x

'Hello World'

In [25]:
x.upper()

'HELLO WORLD'

In [26]:
x.split()

# Split will generate the list, 
# By Default it will separate by space. 
# but we can separate it by any word passing as parameter.

['Hello', 'World']

In [27]:
x = 'This is a interesting string'

In [28]:
x

'This is a interesting string'

In [29]:
x.split('i')

['Th', 's ', 's a ', 'nterest', 'ng str', 'ng']

In [45]:
# .format method

In [30]:
print('This is a string {}'. format('INSERTED'))

This is a string INSERTED

In [31]:
var = 'Mayank'

In [33]:
print('This is a string {}'.format(var))

This is a string Mayank

In [34]:
print('This is a string {} {} {}'.format('fox', 'quick', 'brown'))

This is a string fox quick brown

In [36]:
print ('This is a string {1} {2} {0}'.format('fox', 'quick', 'brown'))

# We can index it which one of format value we want to appear first in order we want.

This is a string quick brown fox

In [37]:
print ('The {} {} {}'.format('fox','brown', 'quick'))

The fox brown quick

In [38]:
print ('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [39]:
print ('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

# This one I like most where we can have just variables 
# Use those variable in {}

The quick brown fox

In [53]:
# Float formatting options

In [40]:
result = 100/777

In [41]:
result

0.1287001287001287

In [42]:
print("The result is {}".format(result))

The result is 0.1287001287001287

In [43]:
print("The result is {r}".format (r = result))

The result is 0.1287001287001287

In [44]:
print("The result is {r:1.3f}".format(r = result))

The result is 0.129

In [46]:
print('The result is {r: 1.2f}'.format(r = result))

The result is  0.13

In [59]:
print ("The result is {r:10.3f}".format(r = result))

The result is      0.129

In [47]:
# Let's say the result is 109.2334
result = 109.286

In [50]:
print("The result is {r:10.2}".format(r=result))

The result is    1.1e+02