# Lists Basics

In [1]:
my_list = [1, 2, 3]

In [3]:
my_list

[1, 2, 3]

In [4]:
len(my_list)

3

In [5]:
my_list = ['APPLE', 'watch', '1.2', 3, 5, 0.29]

In [6]:
my_list

['APPLE', 'watch', '1.2', 3, 5, 0.29]

In [6]:
len(my_list)

6

In [7]:
type(my_list)

list

In [21]:
type(my_list[0])

str

In [39]:
type(my_list[4])

int

In [43]:
print("The data type for first {}, third {}, fourth {}, last {}".
      format(type(my_list[0]), type(my_list[2]), type(my_list[4]), type(my_list[5])))

The data type for first <class 'str'>, third <class 'str'>, fourth <class 'int'>, last <class 'float'>

In [ ]:
## See here we can have different datatypes under the list.

In [27]:
onelist = ['one', 'two', 'three', 'four', 'five']

In [45]:
len(onelist)

5

In [46]:
onelist

['one', 'two', 'three', 'four', 'five']

In [47]:
anotherlist = ['four', 'five', 'six']

In [10]:
anotherlist

['four', 'five', 'six']

In [48]:
onelist + anotherlist

# We can directly concate the list.

['one', 'two', 'three', 'four', 'five', 'four', 'five', 'six']

In [12]:
onelist

['one', 'two', 'three', 'four', 'five']

In [13]:
anotherlist

['four', 'five', 'six']

In [14]:
onelist[1:]

['two', 'three', 'four', 'five']

In [15]:
onelist[2:]

['three', 'four', 'five']

In [16]:
onelist[1:2]

['two']

In [17]:
onelist[1:4]

['two', 'three', 'four']

In [50]:
newlist = onelist + anotherlist

In [51]:
newlist

['one', 'two', 'three', 'four', 'five', 'four', 'five', 'six']

In [52]:
newlist[0] = 'ONE ALL CAPS'

# update list using index

In [53]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'four', 'five', 'six']

In [55]:
newlist.append('seven')

# Append instead of update. append will just append the value at last

In [23]:
newlist

['ONE ALL CAPS',
 'two',
 'three',
 'four',
 'five',
 'four',
 'five',
 'six',
 'seven']

In [24]:
newlist.pop(3)

'four'

In [25]:
newlist

['ONE ALL CAPS', 'two', 'three', 'five', 'four', 'five', 'six', 'seven']

In [26]:
newlist.pop(3)

'five'

In [27]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [28]:
newlist.pop()

'seven'

In [29]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [60]:
popped_item = newlist.pop()

In [61]:
popped_item
newlist

['ONE ALL CAPS',
 'two',
 'three',
 'four',
 'five',
 'four',
 'five',
 'six',
 'seven']

In [63]:
# Can we pop list of values
# Lets use slicing 

popped_list = newlist.pop(1:3)

# see this is giving error
# We cannot use pop but del is something definitely we should explore.

SyntaxError: invalid syntax (<ipython-input-63-39bb3e17fd88>, line 4)

In [64]:
newlist

['ONE ALL CAPS',
 'two',
 'three',
 'four',
 'five',
 'four',
 'five',
 'six',
 'seven']

In [65]:
newlist = ['a', 'z', 'e', 'b', 'f']
numlist = [4, 1, 3, 6, 9, 2, 5]

In [70]:
newlist.sort()

# just sort method will sort the list
# it sorts inplace.

In [71]:
newlist

['a', 'b', 'e', 'f', 'z']

In [72]:
newlist.reverse

In [75]:
my_sorted_list = newlist.sort()

# sorts inplace and doesn't return anything.

In [76]:
type(my_sorted_list)

NoneType

In [77]:
#sort doesn't return anything

In [78]:
newlist.reverse()

In [79]:
newlist

['z', 'f', 'e', 'b', 'a']

In [81]:
newlist.sort()
sorted_list = newlist

# This the way we can get our sorted list in another list.

In [82]:
sorted_list

['a', 'b', 'e', 'f', 'z']

In [83]:
num_list

NameError: name 'num_list' is not defined

In [84]:
numlist

[4, 1, 3, 6, 9, 2, 5]

In [85]:
numlist.sort()

In [86]:
numlist

[1, 2, 3, 4, 5, 6, 9]