# Tuples - Basics

In [1]:
t = (1,2,3)

In [2]:
d = [1, 2, 3]

In [3]:
len(t)
len(d)

3

In [4]:
type(t)

tuple

In [5]:
type(d)

list

In [6]:
t = (1, 1.2, 'tup')

In [7]:
t

(1, 1.2, 'tup')

In [8]:
# Here we can again see tuple can take any data type.

In [10]:
t[0]

1

In [11]:
t[-1]

'tup'

In [19]:
t.count(1.2)

# This determines the occurence of any value.

1

In [21]:
t.index(1.2)

# This determines the index of any value

1

In [22]:
t = ('a', 'a', 'b', 'c')

In [23]:
t

('a', 'a', 'b', 'c')

In [24]:
t.count('a')

2

In [27]:
t.index('a')

# Since a is present twice, it is returning first index.

0

In [28]:
t.index('b')

2

In [29]:
t

('a', 'a', 'b', 'c')

In [30]:
d

[1, 2, 3]

In [31]:
d[0] = 'NEW'

In [32]:
d

['NEW', 2, 3]

In [22]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [33]:
## Big take away Tuple doesn't support item assigment. 

## Once tuple is created you cannot modify a tuple