In [1]:
## Ordered Dictonary and Named tuple

In [2]:
print('Normal dictionary:')

d = {}

d['a'] = 'A'
d['b'] = 'B'
d['c'] = 'C'
d['d'] = 'D'
d['e'] = 'E'

for k, v in d.items():
    print(k, v)

Normal dictionary:
a A
b B
c C
d D
e E

In [3]:
from collections import OrderedDict

print('OrderedDict:')

d = OrderedDict()

d['a'] = 'A'
d['b'] = 'B'
d['c'] = 'C'
d['d'] = 'D'
d['e'] = 'E'

for k, v in d.items():
    print(k, v)

OrderedDict:
a A
b B
c C
d D
e E

In [3]:
#Equality with an Ordered Dictionary
#A regular dict looks at its contents when testing for equality. 
#An OrderedDict also considers the order the items were added.
#A normal Dictionary:

In [4]:
print('Dictionaries are equal?')

d1 = {}
d1['a'] = 'A'
d1['b'] = 'B'

d2 = {}
d2['b'] = 'B'
d2['a'] = 'A'

print(d1==d2)

Dictionaries are equal?
True

In [5]:
#An Ordered Dictionary:

In [6]:
print('Dictionaries are equal?')

d1 = OrderedDict()
d1['a'] = 'A'
d1['b'] = 'B'


d2 = OrderedDict()

d2['b'] = 'B'
d2['a'] = 'A'

print(d1==d2)

Dictionaries are equal?
False

In [7]:
# Named Tuple

In [8]:
t = (1, 2, 3)

In [9]:
t[0]

1

In [10]:
t[3]

IndexError: tuple index out of range

In [12]:
# so if you have not seen this tuple in a while then you may not remember 
# values in index field

In [13]:
# And it may result in error

In [14]:
# Named tuple gives name to each index of tuple

In [15]:
# It creates class for each tuple

In [17]:
from collections import namedtuple

In [18]:
Dog = namedtuple('Dog', 'age breed name')

In [19]:
sam = Dog(age=2, breed='Lab', name='sammy')

In [20]:
sam

Dog(age=2, breed='Lab', name='sammy')

In [21]:
sam.breed

'Lab'

In [23]:
sam[1]

'Lab'

In [24]:
# Another example

In [25]:
Cat = namedtuple('Cat', 'fur claws name')

In [27]:
c = Cat(fur='fuzzy', claws=False, name='Pussy' )

In [28]:
c.fur

'fuzzy'

In [29]:
c

Cat(fur='fuzzy', claws=False, name='Pussy')

In [30]:
Cat

__main__.Cat

In [31]:
Animal = namedtuple('Mouse', 'color tail name')

In [34]:
Mouse = Animal(color='White', tail=True, name='Jerry')

In [35]:
Mouse.color

'White'

In [ ]:
# Here I'm creating Mice tuple instead of Mouse 
# and code still works

In [36]:
Mice = Animal(color='Grey', tail=True, name='Rick')

In [37]:
Mice.name

'Rick'

In [46]:
# What is significance of 'Mouse' that is being passed as first parameter in namedtuple function.

In [47]:
# Can I still work on and just pass one parameter
# Let's try

In [40]:
Animal_2 = namedtuple('color_2, tail_2, name_2')

TypeError: namedtuple() missing 1 required positional argument: 'field_names'

In [51]:
# OK, lets pass any value as parameter

In [48]:
Animal_2 = namedtuple('XYZ', 'color_2, tail_2, name_2')

In [49]:
Mice_2 = Animal_2(color_2='Red', tail_2=True, name_2='Bobby')

In [50]:
Mice_2.name_2

'Bobby'

In [12]:
from collections import namedtuple
Dog = namedtuple('Dog', 'name, color, breed')

In [13]:
dog = Dog(name='Tiger', color='Brown', breed='Huskie')

In [14]:
dog.name

'Tiger'

In [11]:
from collections import namedtuple
HomeAddr = namedtuple('HomeAddr', 'street, city, state')

In [12]:
myaddr = HomeAddr(street = '123 XYZ street', city = 'Boston', state='MA')

In [13]:
myaddr.street

'123 XYZ street'

In [14]:
myaddr.state

'MA'

In [16]:
from collections import namedtuple
OffAddr = namedtuple('Anything', 'street, city, state')

In [17]:
offaddr = OffAddr(street='50 Text Road', city='yxxs', state='TY')

In [18]:
offaddr.city

'yxxs'