# Datetime Attribute

In [1]:
# First import datetime package

import datetime

In [2]:
datetime.time

datetime.time

In [3]:
t = datetime.time(7, 14, 1)

In [4]:
t

datetime.time(7, 14, 1)

In [5]:
t.hour

7

In [6]:
t.minute

14

In [7]:
t.second

1

In [11]:
## Format to give time
## first one is hour, second is minute and third is second
t

datetime.time(7, 14, 1)

In [12]:
print (datetime.time.min)

00:00:00

In [13]:
print(datetime.time.max)

23:59:59.999999

In [14]:
print(datetime.time.resolution)

0:00:00.000001

In [15]:
datetime.date.today()

datetime.date(2020, 6, 1)

In [23]:
today = datetime.date.today()

In [25]:
datetime.tzinfo()

In [26]:
today

datetime.date(2020, 6, 1)

In [22]:
print(today)

2020-03-11

In [27]:
print(today.timetuple())

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=153, tm_isdst=-1)

In [28]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=153, tm_isdst=-1)

In [30]:
# similiar to datetime you can call day,year, month attributes
today.day

1

In [31]:
today.year

2020

In [32]:
today.month

6

In [40]:
datetime.time.tzinfo

In [41]:
print(datetime.date.min)

0001-01-01

In [42]:
print(datetime.date.max)

9999-12-31

In [43]:
print(datetime.date.resolution)

1 day, 0:00:00

In [44]:
d = datetime.date(2020, 3, 11)

In [47]:
d

datetime.date(2020, 3, 11)

In [48]:
## Print will give you date in normal format. 
print(d)

2020-03-11

In [35]:
# Work on update on date variable
d1 = d.replace(year=2022)

In [36]:
print(d1)

2022-03-11

In [37]:
# we can perform arithmetic on dates

In [38]:
d1 - d

datetime.timedelta(days=730)

In [39]:
d > d1

False